body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2rem;
}

.banner {
    margin-top: 2rem;
    color: black;
    margin-bottom: 1rem;
}

footer {
    margin-top: 5rem;
    text-align: center;
}

input:required:invalid, input:focus:invalid {
    background-color: rgba(173, 39, 39, 0.5);
    -moz-box-shadow: none;
  }

  input:required:valid {
    background-color: rgba(59, 182, 85, 0.5);
  }